apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gin-gateway.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "gin-gateway.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "gin-gateway.name" . }}
    spec:
      containers:
        - name: gin-gateway
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
          env:
            - name: PLAN_SERVICE_HOST
              value: "plan-service"
            - name: PLAN_SERVICE_PORT
              value: "9091"
            - name: IMPLEMENTATION_SERVICE_HOST
              value: "implementation-service"
            - name: IMPLEMENTATION_SERVICE_PORT
              value: "9092"
            - name: DIAGRAM_SERVICE_HOST
              value: "diagram-service"
            - name: DIAGRAM_SERVICE_PORT
              value: "9093"
            - name: ANALYZER_SERVICE_HOST
              value: "analyzer-service"
            - name: ANALYZER_SERVICE_PORT
              value: "9094"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}