apiVersion: v1
kind: Service
metadata:
  name: {{ include "implementation-service.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: grpc
  selector:
    app: {{ include "implementation-service.name" . }}